@model IEnumerable<FinanceAnalytic.Models.ImportanceCategory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="list_header row">
        <h1>Категории важности</h1>
         <a asp-action="Create">Создать</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(Model => Model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.NumericEquivalent)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumericEquivalent)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <img src="~/images/icon_edit.png" />
                        </a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">
                            <img src="~/images/icon_delete.png" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>